<% if request.post? %>
<%= form_for(@me_liky, url: home_create_path) do |f| %>
  Thanks for submitting the form!  Here are your answers:<br>
  Name: <%= @me_liky %><br>
  Do you like Chocolate? <%= @me_liky ? "Yes!" : "No" %><br>
  Do you like Rainbows? <%= @me_liky ? "Yes!" : "No" %><br>
  Do you like Puppies? <%= @me_liky ? "Yes!" : "No" %><br>
  Do you like Cold Hard Cash? <%= @me_liky ? "Yes!" : "No" %><br>
<% else %>
  <%= form_for(@me_liky, url: home_form_path) do |f| %>
    <div>
      Name: <%= f.text_field :name %>
    </div>
    <div>
      Favorites:
      <ul>
        <li class="item">
          <%= f.check_box :chocolate %> I like <%= f.label :chocolate %>
        </li>
        <li class="item">
          <%= f.check_box :rainbows %> I like <%= f.label :rainbows %>
        </li>
        <li class="item">
          <%= f.check_box :puppies %> I like <%= f.label :puppies %>
        </li>
        <li class="item">
          <%= f.check_box :cold_hard_cash %> I like <%= f.label :cold_hard_cash %>
        </li>
      </ul>
    </div>
    <%= f.submit %>
  <% end %>
<% end %>
